body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    color: #00ffc8;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
    
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color:black;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: black;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }
  #forme.botao{
      text-align: right;
  }
  #formFooter {
    background-color: black;
    color: rgb(0, 255, 179);
    padding: 25px;
    text-align: left;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  .cadastro{
  text-align:right;
  }
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #00ffc8;
    border: none;
    color: black;
    padding: 9px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #00c98c;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  input[type=password]{
  background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  
  .email {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .senha {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .botao {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  

  img#icon {
    width: 64%;
}
.header{
    background:black;

    text-align: center;
}
h1.lançamentosH{
    text-align: center;
    color:#00ffc4 ;
}
.header div nav a{
  color: #00ffc4;
}
.fa-copyright:before{
    color: rgb(112, 201, 186);
}
.header div nav a:hover{
    color:rgb(112, 201, 186);
}
.logo{
  width: 45px;
    margin-top: auto;
}
.imgCoruja{
  width: 294px;
}
p.rodape{
    color: #00ffc4; 
}
dl, ol, ul.coruja {
  margin-top: 0;
  margin-bottom: 1rem;
  background:white;
}
.materias  {
  color: #00ffc4;
  text-decoration: none;
}
.materias:hover{
  color:rgb(112, 201, 186);
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  background: black;
}
.fa{
color: yellow;
}
.fa-facebook-square:before {
    content: "\f082";
    color: black;
}
.fa-instagram:before {
    content: "\f16d";
    color: black;
}
.fa-twitter:before {
    content: "\f099";
    color: black;
}
p.rede-social {
    margin-top: 0;
    color: black;
    font-size: 1.7em;
}
.lançamento{
    text-align: center;
}
.lançamentoContainer{
    background: rgb(0, 0, 0);
    padding: 20px 10px 45px;
}
.slide ol{
    margin-bottom: -35px;
}
.p1{
    background-color:yellow;
}
.card_area > div{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding: 20px; }
.nav{
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.img-destaque img{
    width:245px ;
    height:350px ;
}
p.ava {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.5em;
    text-align: center;
    color: black;
    font-family: arial;
}

.card_body{
background: black;
}


.card_area img { width: 100%;margin-bottom: 10px;}

.em{
    font-size: 2.0em;
    color: yellow;
}
.em div p .card-text{
    font-size: 1.3px;
} 

.card{
    margin-bottom: 20px;
}
.destaque{
    font-size: 2.5em;
    text-align: center;
    color: black;
}

.main p div ol{
    background: rgb(192, 188, 188);
}
.lançamentos{
    font-size: 2.0em;
    color: #00ffc4;
    text-align: center;
}
.item-lançamento{
    display: flex;
    flex-direction: row;
}
.footer{ background-image:url(img/bg1.jpg) ;
    background-size: cover;
    background-position: 0px -250px;
   color: yellow; 
    padding: 20px;
    background-color: black;
}
.footer_area{
    width: 30px;
}
.sinopse-container{
    padding-left: 15px;
    max-width: 400px;

}
.sinopse-container h4{
         font-size: 10px;
         text-align: justify;
         color: yellow;
}
.sinopse-imp{
    color:rgb(255, 166, 0);
    font-size: 12px;
}
.dropdown{
    display: flex; 
    justify-content: flex-end;
    
}
    .dropdown-item1{
        display: flex; 
        justify-content: flex-end;
        margin-bottom: 8px;
    }
    .card-text{
        font-size: 0.9em;
    }
   
  
    .novidades{
        font-size: 2.0em;
    }
   
     
     .card{
        
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        align-items: stretch;
        min-height: 450px;
     }
     .novidades-item{
         font-size: 1.0em;
         padding-left:10px ;

     }
     a {
        color: black;
        text-decoration: none;
     }
     a:hover{
         color:blue;
     }
#menuToggle {
    display: none;
  }
.menu-icon {
    display: none;
}
.sobre{
    font-size: 2.0em;
 }
 .h1, h1 {
    font-size: 0.8rem;
}
.editorial{
    font-size: 2.0em;
}
.img-nov{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.card-body iframe{
    width: 100%;
}
.destaque1{
    display: flex;
   flex-direction: column;
}

/*Media Queries*/

@media screen and (min-width:601px) and (max-width:980px){
    .header{
        background-position: 0px -100px;
    } 
}
@media screen and (min-width:1000px){
    .menu1{
        display: flex;
    } 
}
@media screen and (max-width: 1000px) {

    .header{        
        top: 0px;        
        z-index: 999;
        max-width:100% !important;
    }
    .container_nav {
        display: absolute;
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }
    .main{
        margin-top: 140px;
    }

    .menu1 {
        display: none;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 320px;
        width: 100%;
        height: 0%;
        background-color: rgba(255, 255, 255, 0.7);
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }

    .menu1 a {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .menu-icon {
        width: 50px;
        height: inherit;
        display: block;
        position: absolute;
        top: 55px;
        right: 30px;
        line-height: 60px;
        color: white;
        z-index: 999;
    }
    #menuToggle:checked ~ label i:nth-child(2) {
      display: block;
    }
    #menuToggle:checked ~ label i:first-child {
      display: none;
    }
    #menuToggle:not(:checked) ~ label i:first-child {
      display: block;
    }
    #menuToggle:not(:checked) ~ label i:nth-child(2) {
      display: none;
    }
  
    #menuToggle:checked ~ nav {
        height: 100%;
    }
    .menu-icon i {
        font-size: 1.7em;   
        margin: -42px;
    }
    .sinopse-container{
        display: none;
    }
    .dropdown{
        display: flex; 
        justify-content: flex-end;
        margin-bottom: 0px;
    }
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-content: center;
    justify-content: space-around;
    margin-top: auto;
}
@media screen and (max-width:600px){
 
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .card{
        display:block;
    }

    .card:nth-child(9){
        display:none;
    }
}
.card-img-top{
    flex-shrink: 0;
    width: 100%;
    height: 350px;
}